function AlienBomb.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 0
not
pop this 2
push pointer 0
call AlienBomb.draw 1
pop temp 0
push pointer 0
return
function AlienBomb.draw 4
push argument 0
pop pointer 0
push this 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 0
push constant 7
add
pop local 0
push this 0
push constant 8
add
pop local 1
push this 1
pop local 2
push this 1
push constant 3
add
pop local 3
push local 0
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 2
push constant 0
return
label IF_FALSE1
push local 2
push constant 0
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop this 2
push constant 0
return
label IF_FALSE2
push local 1
push constant 511
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
pop this 2
push constant 0
return
label IF_FALSE3
push local 3
push constant 255
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
pop this 2
push constant 0
return
label IF_FALSE4
push local 0
push local 1
gt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
pop this 2
push constant 0
return
label IF_FALSE5
push local 2
push local 3
gt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
pop this 2
push constant 0
return
label IF_FALSE6
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push local 2
push local 1
push local 3
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function AlienBomb.clear 4
push argument 0
pop pointer 0
push this 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 0
push constant 7
add
pop local 0
push this 0
push constant 8
add
pop local 1
push this 1
pop local 2
push this 1
push constant 3
add
pop local 3
push local 0
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push local 2
push constant 0
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
return
label IF_FALSE2
push local 1
push constant 511
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
return
label IF_FALSE3
push local 3
push constant 255
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
return
label IF_FALSE4
push local 0
push local 1
gt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
return
label IF_FALSE5
push local 2
push local 3
gt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
return
label IF_FALSE6
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push local 2
push local 1
push local 3
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
return
function AlienBomb.step 0
push argument 0
pop pointer 0
push this 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push pointer 0
call AlienBomb.clear 1
pop temp 0
push this 1
push constant 12
add
pop this 1
push this 1
push constant 260
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 2
push constant 0
return
label IF_FALSE1
push this 1
push constant 5
neg
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop this 2
push constant 0
return
label IF_FALSE2
push pointer 0
call AlienBomb.draw 1
pop temp 0
push constant 0
return
function AlienBomb.kill 0
push argument 0
pop pointer 0
push pointer 0
call AlienBomb.clear 1
pop temp 0
push constant 0
pop this 2
push constant 0
return
function AlienBomb.leftX 0
push argument 0
pop pointer 0
push this 0
return
function AlienBomb.rightX 0
push argument 0
pop pointer 0
push this 0
push constant 15
add
return
function AlienBomb.topY 0
push argument 0
pop pointer 0
push this 1
return
function AlienBomb.bottomY 0
push argument 0
pop pointer 0
push this 1
push constant 3
add
return
function AlienBomb.isAlive 0
push argument 0
pop pointer 0
push this 2
return
function AlienBomb.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
