function Game.new 0
push constant 11
call Memory.alloc 1
pop pointer 0
push constant 240
push constant 220
call Player.new 2
pop this 0
call Sprites.makeAlienA 0
pop this 9
call Sprites.makeAlienB 0
pop this 10
push constant 3
push constant 10
push constant 30
push constant 30
push constant 40
push constant 40
push this 9
push this 10
call Fleet.new 8
pop this 1
push constant 0
not
pop this 2
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 5
push constant 3
pop this 6
push constant 1
pop this 7
push constant 20
pop this 8
push pointer 0
return
function Game.run 0
push argument 0
pop pointer 0
push pointer 0
call Game.showStartScreen 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push pointer 0
call Game.drawScore 1
pop temp 0
push this 0
call Player.draw 1
pop temp 0
push this 1
call Fleet.draw 1
pop temp 0
label WHILE_EXP0
push this 2
not
if-goto WHILE_END0
push this 4
push constant 1
add
pop this 4
push pointer 0
call Game.processInput 1
pop temp 0
push pointer 0
call Game.update 1
pop temp 0
push constant 10
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
call Screen.clearScreen 0
pop temp 0
push constant 8
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 17
call String.new 1
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 11
push constant 23
call Output.moveCursor 2
pop temp 0
push constant 17
call String.new 1
push constant 78
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 122
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 7
call Output.printInt 1
pop temp 0
push constant 13
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 12
call String.new 1
push constant 80
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 3
call Output.printInt 1
pop temp 0
push constant 16
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 18
call String.new 1
push constant 71
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 106
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 3000
call Sys.wait 1
pop temp 0
push pointer 0
call Game.dispose 1
pop temp 0
push constant 0
return
function Game.showStartScreen 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 5
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 14
call String.new 1
push constant 83
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 83
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 6
push constant 23
call Output.moveCursor 2
pop temp 0
push constant 18
call String.new 1
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 9
push constant 26
call Output.moveCursor 2
pop temp 0
push constant 11
call String.new 1
push constant 67
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 11
push constant 24
call Output.moveCursor 2
pop temp 0
push constant 16
call String.new 1
push constant 60
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 12
push constant 23
call Output.moveCursor 2
pop temp 0
push constant 17
call String.new 1
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 17
push constant 19
call Output.moveCursor 2
pop temp 0
push constant 25
call String.new 1
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 18
push constant 19
call Output.moveCursor 2
pop temp 0
push constant 25
call String.new 1
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
call Output.printString 1
pop temp 0
label WHILE_EXP0
call Keyboard.keyPressed 0
push constant 32
eq
not
not
if-goto WHILE_END0
push constant 50
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
label WHILE_EXP1
call Keyboard.keyPressed 0
push constant 32
eq
not
if-goto WHILE_END1
push constant 50
call Sys.wait 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push pointer 0
call Game.showScoreTable 1
pop temp 0
push constant 0
return
function Game.showScoreTable 3
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 4
push constant 24
call Output.moveCursor 2
pop temp 0
push constant 15
call String.new 1
push constant 84
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 83
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 5
push constant 24
call Output.moveCursor 2
pop temp 0
push constant 15
call String.new 1
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
call Output.printString 1
pop temp 0
call Sprites.makeAlienA 0
pop local 0
call Sprites.makeAlienD 0
pop local 1
call Sprites.makeAlienB 0
pop local 2
push pointer 0
push constant 200
push constant 70
push local 0
call Game.drawMiniAlien 4
pop temp 0
push constant 8
push constant 30
call Output.moveCursor 2
pop temp 0
push constant 11
call String.new 1
push constant 61
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
call Output.printString 1
pop temp 0
push pointer 0
push constant 200
push constant 110
push local 1
call Game.drawMiniAlien 4
pop temp 0
push constant 11
push constant 30
call Output.moveCursor 2
pop temp 0
push constant 11
call String.new 1
push constant 61
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
call Output.printString 1
pop temp 0
push pointer 0
push constant 200
push constant 150
push local 2
call Game.drawMiniAlien 4
pop temp 0
push constant 15
push constant 30
call Output.moveCursor 2
pop temp 0
push constant 11
call String.new 1
push constant 61
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 19
push constant 23
call Output.moveCursor 2
pop temp 0
push constant 15
call String.new 1
push constant 84
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 21
push constant 17
call Output.moveCursor 2
pop temp 0
push constant 29
call String.new 1
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 122
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 1
pop temp 0
label WHILE_EXP0
call Keyboard.keyPressed 0
push constant 32
eq
not
not
if-goto WHILE_END0
push constant 50
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
label WHILE_EXP1
call Keyboard.keyPressed 0
push constant 32
eq
not
if-goto WHILE_END1
push constant 50
call Sys.wait 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push local 0
call Array.dispose 1
pop temp 0
push local 1
call Array.dispose 1
pop temp 0
push local 2
call Array.dispose 1
pop temp 0
push constant 0
return
function Game.drawMiniAlien 6
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 16
lt
not
if-goto WHILE_END0
push local 0
push argument 3
add
pop pointer 1
push that 0
pop local 1
push constant 0
pop local 2
label WHILE_EXP1
push local 2
push constant 16
lt
not
if-goto WHILE_END1
push local 1
push constant 1
and
pop local 3
push local 3
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push constant 15
push local 2
sub
push constant 2
call Math.multiply 2
add
pop local 4
push argument 2
push local 0
push constant 2
call Math.multiply 2
add
pop local 5
push local 4
push local 5
push local 4
push constant 1
add
push local 5
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push local 1
push constant 2
call Math.divide 2
pop local 1
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.drawScore 0
push argument 0
pop pointer 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 80
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 3
call Output.printInt 1
pop temp 0
push constant 7
call String.new 1
push constant 32
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 6
call Output.printInt 1
pop temp 0
push constant 7
call String.new 1
push constant 32
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 7
call Output.printInt 1
pop temp 0
push constant 8
call String.new 1
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 1
call Fleet.getAliveCount 1
call Output.printInt 1
pop temp 0
push constant 3
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
function Game.processInput 1
push argument 0
pop pointer 0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 130
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Player.moveLeft 1
pop temp 0
label IF_FALSE0
push local 0
push constant 132
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Player.moveRight 1
pop temp 0
label IF_FALSE1
push local 0
push constant 32
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
call Player.shoot 1
pop temp 0
label IF_FALSE2
push constant 0
return
function Game.resetLevel 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 11
push constant 20
call Output.moveCursor 2
pop temp 0
push constant 21
call String.new 1
push constant 86
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 6
call Output.printInt 1
pop temp 0
push constant 2000
call Sys.wait 1
pop temp 0
push this 1
call Fleet.clearAllBombs 1
pop temp 0
push this 1
call Fleet.dispose 1
pop temp 0
push constant 3
push constant 10
push constant 30
push constant 30
push constant 40
push constant 40
call Sprites.makeAlienA 0
call Sprites.makeAlienB 0
call Fleet.new 8
pop this 1
push this 0
call Player.dispose 1
pop temp 0
push constant 240
push constant 220
call Player.new 2
pop this 0
push constant 0
pop this 5
call Screen.clearScreen 0
pop temp 0
push pointer 0
call Game.drawScore 1
pop temp 0
push this 0
call Player.draw 1
pop temp 0
push this 1
call Fleet.draw 1
pop temp 0
push constant 0
return
function Game.nextLevel 1
push argument 0
pop pointer 0
push this 7
push constant 100
call Math.multiply 2
pop local 0
push this 3
push local 0
add
pop this 3
call Screen.clearScreen 0
pop temp 0
push constant 8
push constant 21
call Output.moveCursor 2
pop temp 0
push constant 17
call String.new 1
push constant 78
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 10
push constant 20
call Output.moveCursor 2
pop temp 0
push constant 14
call String.new 1
push constant 66
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 43
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 0
call Output.printInt 1
pop temp 0
push constant 12
push constant 20
call Output.moveCursor 2
pop temp 0
push constant 16
call String.new 1
push constant 80
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 3
call Output.printInt 1
pop temp 0
push constant 15
push constant 18
call Output.moveCursor 2
pop temp 0
push constant 23
call String.new 1
push constant 83
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1000
call Sys.wait 1
pop temp 0
push constant 15
push constant 18
call Output.moveCursor 2
pop temp 0
push constant 23
call String.new 1
push constant 83
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1000
call Sys.wait 1
pop temp 0
push constant 15
push constant 18
call Output.moveCursor 2
pop temp 0
push constant 23
call String.new 1
push constant 83
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1000
call Sys.wait 1
pop temp 0
push this 7
push constant 1
add
pop this 7
push this 8
push constant 5
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 8
push constant 2
sub
pop this 8
goto IF_END0
label IF_FALSE0
push this 8
push constant 3
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 8
push constant 1
sub
pop this 8
label IF_FALSE1
label IF_END0
push this 1
call Fleet.dispose 1
pop temp 0
push constant 3
push constant 10
push constant 30
push constant 30
push constant 40
push constant 40
call Sprites.makeAlienA 0
call Sprites.makeAlienB 0
call Fleet.new 8
pop this 1
push this 0
call Player.dispose 1
pop temp 0
push constant 240
push constant 220
call Player.new 2
pop this 0
push constant 0
pop this 5
call Screen.clearScreen 0
pop temp 0
push pointer 0
call Game.drawScore 1
pop temp 0
push this 0
call Player.draw 1
pop temp 0
push this 1
call Fleet.draw 1
pop temp 0
push constant 0
return
function Game.update 3
push argument 0
pop pointer 0
push this 0
call Player.update 1
pop temp 0
push this 0
call Player.hasActiveBullet 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Player.bulletX 1
pop local 0
push this 0
call Player.bulletY 1
pop local 1
push this 1
push local 0
push local 1
call Fleet.hitByBullet 3
pop local 2
push local 2
push constant 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Player.destroyBullet 1
pop temp 0
push this 3
push local 2
add
pop this 3
push pointer 0
call Game.drawScore 1
pop temp 0
label IF_FALSE1
label IF_FALSE0
push this 1
call Fleet.updateBombs 1
pop temp 0
push this 4
push constant 255
and
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
call Fleet.tryShootBomb 1
pop temp 0
label IF_FALSE2
push this 4
push constant 128
add
push constant 255
and
push constant 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
call Fleet.tryShootBomb 1
pop temp 0
label IF_FALSE3
push this 4
push constant 192
add
push constant 255
and
push constant 0
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 1
call Fleet.tryShootBomb 1
pop temp 0
label IF_FALSE4
push this 1
push this 0
call Fleet.checkBombHitPlayer 2
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 6
push constant 1
sub
pop this 6
push this 6
push constant 0
gt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call Game.resetLevel 1
pop temp 0
goto IF_END6
label IF_FALSE6
push constant 0
pop this 2
label IF_END6
label IF_FALSE5
push this 5
push constant 1
add
pop this 5
push this 5
push this 8
gt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 1
call Fleet.step 1
pop temp 0
push constant 0
pop this 5
label IF_FALSE7
push this 1
call Fleet.anyAlive 1
not
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push pointer 0
call Game.nextLevel 1
pop temp 0
label IF_FALSE8
push this 1
call Fleet.reachedBottom 1
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 6
push constant 1
sub
pop this 6
push this 6
push constant 0
gt
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push pointer 0
call Game.resetLevel 1
pop temp 0
goto IF_END10
label IF_FALSE10
push constant 0
pop this 2
label IF_END10
label IF_FALSE9
push constant 0
return
function Game.dispose 0
push argument 0
pop pointer 0
push this 0
call Player.dispose 1
pop temp 0
push this 1
call Fleet.dispose 1
pop temp 0
push this 9
call Array.dispose 1
pop temp 0
push this 10
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
